<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      property="og:title"
      content="{% block og_title %}Personal Portfolio{% endblock %}"
    />
    <meta
      property="og:description"
      content="{% block og_description %}My Personal Portfolio{% endblock %}"
    />
    <meta property="og:url" content="{{ url }}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <link
      lang="sass"
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/main.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/favicon.ico') }}"
      type="image/x-icon"
    />
    <title>{% block title %}{{ title }}{% endblock %}</title>
  </head>

  <body>
    <!-- Enhanced Navigation Bar -->
    <header class="nav-bar">
      <div class="nav-content">
        <a href="{{ url_for('index') }}" class="logo-link">
          <div class="nav-logo">
            <img
              src="{{ url_for('static', filename='img/logo.svg') }}"
              alt="Logo"
            />
          </div>
        </a>
        <nav class="nav-links">
          <a href="{{ url_for('index') }}" class="nav-link">Home</a>
          <a href="{{ url_for('hobbies') }}" class="nav-link">Hobbies</a>
          <a href="{{ url_for('travel') }}" class="nav-link">Travel</a>
          <a href="{{ url_for('timeline') }}" class="nav-link">Timeline</a>
          {% block additional_nav %}{% endblock %}
        </nav>
      </div>
    </header>

    <!-- Page Content -->
    {% block content %}{% endblock %}

    <!-- Optional JavaScript -->
    {% block scripts %}{% endblock %}
  </body>
</html>
